{% extends "base.html" %}

{% block title %}Mood Playlist Generator{% endblock %}

{% block body %}
    <div id="appRoot"></div>
    <noscript>
        JavaScript is required to run this app.
    </noscript>
{% endblock %}

{% block scripts %}
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/script.js', v='20260412-v3') }}"></script>
{% endblock %}
